node_modules/*
node_modules_old/
.idea/*
public/hot/
public/storage/
public/assets/images/*
storage/*.key
vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json_old
package.json_old
